* {
  box-sizing: border-box;
}



.wrapper {
  width: 1200px;
  margin: 0 auto;
}

.images-1 {
  transition: all 0.6s ease 0s;
}

.images-1:hover {
  transform: translate(0, -100px);
}

.arrow {
  width: 50px;
  cursor: pointer;
  position: fixed;
  right: 50px;
  bottom: 50px;
}

.box {
  border: 2px solid #000;
  background-color: #ccc;
  height: 500px;
  margin: 20px 0;
  position: relative;
  z-index: 0;
}

.text {
  padding: 20px;
  background-color: #000;
  color: #fff;
  width: 400px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.title {
  text-align: center;
}

.title-1 {
  transition: all 0.3s ease 0s;
}

.title-1:hover {
  color: blue;
  text-decoration: underline;
}

.title-1 {
  font-size: 50px;
  margin: 25px 0 50px;
  position: sticky;
  top: 0;
  padding: 20px;
  z-index: 1;
  background-color: #000;
  color: #fff;
}

.title-1:before,
.title-1:after {
  content: '';
  width: 50px;
  height: 50px;
  background-color: red;
  position: absolute;
  left: 10px;
  border-radius: 50%;

}

.title-1:after {
  content: '';
  right: 10px;
  left: auto;
}

.text-1 {
  font-size: 20px;
  background-color: #ccc;
}

/* .text-1:hover {
  background-color: #000;
  color: #fff;
  padding-bottom: 50px;
} */

.text-2 {
  font-size: 18px;
  background-color: #ccc;
}

.text-3 {
  font-style: italic;
}

.text-4 {
  text-align: right;
  font-size: 14px;
}